---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const metaTags = {
  title: post.data.title,
  description: post.data.description,
  canonical: `https://oscarmolinar.dev/blog/${post.slug}`,
  ogImage: post.data.image || "/images/square-om.webp", // Imagen por defecto si no hay una específica
};
---

<Layout {...metaTags}>
  <article
    class="prose mx-auto prose-img:rounded-lg prose-img:shadow-lg lg:mt-10 mt-3 prose-p:leading-loose prose-code:whitespace-pre-wrap"
  >
    <header class="text-center flex flex-col items-center gap-1">
      <h1 class="!mb-0 text-xl md:text-3xl">{post.data.title}</h1>
      <p class="!p-0 !mb-0 !mt-2 !text-base leading-relaxed">
        {post.data.description}
      </p>
      <small>Publicado el: {post.data.date}</small>
    </header>
    <div class="mt-10 text-sm md:text-base">
      <Content />
    </div>
  </article>
</Layout>
