---
import LatestsPosts from "../components/LatestsPosts.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Avatar from "../assets/images/om-avatar-bgTransparent.svg";
---

<Layout title="Oscar Molinar: Blog Personal">
  <div class="flex gap-2 items-center">
    <div>
      <Image
        src={Avatar}
        alt="Oscar Molinar"
        class="w-12 md:w-14 rounded-full shadow-md bg-blue-500"
        loading="lazy"
      />
    </div>
    <div class="flex flex-col items-start gap-1">
      <h1 class="font-bold text-2xl lg:text-5xl">oscarmolinar.dev</h1>
      <p class="text-xs md:text-sm">
        Explorando ideas, compartiendo historias.
      </p>
    </div>
  </div>
  <div class="py-8">
    <div class="flex flex-col gap-3 text-sm leading-relaxed">
      <p
        x-data="{
            date_start: new Date('2018-01-01'),
            yearsOfExperience() {
                return Math.abs(new Date().getFullYear() - this.date_start.getFullYear()) 
            } 
        }"
      >
        ¡Hola! Soy Oscar Molinar, desarrollador de software ubicado en Panamá
        con más de
        <span x-text="yearsOfExperience"></span> años de experiencia.
      </p>
      <p>
        Este espacio está dedicado a compartir proyectos, artículos o ideas que
        puedan ser útiles para la comunidad. Si encuentras algo útil para tí,
        por favor, déjame un <a
          class="underline decoration-dotted underline-offset-4"
          href="mailto:oscarmolinar96@gmail.com">mensaje</a
        >. Me encataría poder comunicarnos :)
      </p>
    </div>
  </div>
  <LatestsPosts />
</Layout>
