---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date) - new Date(a.data.date)
);

const { limit = 0 } = Astro.props;

if (limit > 0) {
  sortedPosts.length = limit;
}
---

<div>
  <header class="flex justify-between items-center">
    <h2 class="text-xl font-bold">Artículos</h2>
    <a
      href="/blog"
      class="underline decoration-dotted underline-offset-4 text-sm"
      >Ver todos</a
    >
  </header>
  <div class="flex flex-col gap-8 mt-2">
    {
      sortedPosts.map((post) => (
        <a href={`/blog/${post.slug}`}>
          <div class="flex flex-col">
            <small>{post.data.date}</small>
            <h3 class="font-bold">{post.data.title}</h3>
            <p class="text-gray-600 truncate">{post.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</div>
