@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fira Code Regular */
@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/static/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fira Code Bold */
@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/static/FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Fira Code';
}

@layer base {
    p {
        @apply text-gray-600;
    }

    small {
        @apply text-gray-400 text-xs;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-slate-800;
    }
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: "";
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: "";
}

code:not(pre code) {
    @apply bg-slate-50 rounded p-1;
}

.important-content {
    @apply bg-red-50 text-red-800 p-5 rounded-lg;
}

.important-content::before {
    content: "⚠️ ";
}

[x-cloak] {
    display: none !important;
}